<!doctype html>
<html>
    <head>
        <title>Circle Of Warriors</title>
        
        <link rel="stylesheet" href="style.css">
        
        <!-- Tailwind Styling  -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.css" rel="stylesheet" />

    </head>
    <body>
        <%= lang %>
            <%=translation.WELCOME_MSG_ONE%>
        <div class="container">
        

        <section class="bg-gray-50 dark:bg-gray-900">
            <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
                <a href="/login" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
                    <img class="w-8 h-8 mr-2" src="https://img.freepik.com/premium-vector/pink-ribbon-breast-cancer-awareness-grunge-style-vector-design-breast-cancer-awareness-month_690789-121.jpg" alt="logo">
                    Circle of Warriors 🎗️
                </a>

                <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">

                        <!-- FORM TITLE -->
                        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                            Create and account
                        </h1>

                        <!-- ERROR ALERT MESSAGE -->
                        <% if (message.length> 0) { %>
                            <div class="alert alert-danger">
                                <%= message %>
                            </div>
                        <% } %>

                        <!-- SIGN UP FORM -->
                        <form class="space-y-4 md:space-y-6" action="/signup" method="post" >

                            <!-- EMAIL -->
                            <div>
                                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                                    email</label>
                                <input type="email" name="email" id="email"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="name@company.com" required="">
                            </div>

                            <!-- PASSWORD -->
                            <div>
                                <label for="password"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                                <input type="password" name="password" id="password" placeholder="••••••••"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    required="">
                            </div>

                            <!-- WARRIOR NAME AND TYPE CONTAINER  -->
                            <div class="grid grid-cols-2 gap-4">

                                <!-- WARRIOR NAME -->
                                <div>
                                    <label for="warrior-name"
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Warrior Name</label>
                                    <input type="warrior-name" name="warrior-name" id="warrior-name"
                                        placeholder="Resilient Jane"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        required="">
                                </div>

                                <div>
                                    <label for="warrior-status" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Warrior Type</label>

                                        <!-- PART 1 OF 2 FORM VALIDATION DEFAULT  "REQUIRED" ATTRIBUTE -->
                                    <select id="warrior-status"  name="warrior-status"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>

                                        <!-- PART 2 OF 2 FORM VALIDATION DEFAULT "VALUE EMPTY STRING"  -->
                                        <option value="" selected>Choose Warrior Type</option>
                                        <option value="Currently In Treatment">Currently In Treatment</option>
                                        <option value="Survivor">Survivor</option>
                                        <option value="Caregiver">Caregiver</option>
                                    </select>

                                </div>

                            </div>

                             <!-- FORM FIELDS THAT ONLY APPEAR IF CAREGIVER IS SELECTED -->
                            <div class="caregiver-inputs">
                                <!-- CAREGIVER PATIENT NAME AND CANCER STATUS -->
                                <div class="grid grid-cols-2 gap-4">
                                    <!--CAREGIVER PATIENT WARRIOR NAME -->
                                    <div>
                                        <label for="caregiver-patient-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Warrior Patient
                                            Name</label>
                                        <input type="caregiver-patient-name" name="caregiver-patient-name" id="caregiver-patient-name" placeholder="Resilient Jane"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                            required="">
                                    </div>

                                    <!-- CAREGIVER'S PATIENT CANCER STATUS -->
                                    <div>
                                        <label for="caregiver-patient-status" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> Warrior Patient Status
                                        </label>
                                
                                        <!-- PART 1 OF 2 FORM VALIDATION DEFAULT  "REQUIRED" ATTRIBUTE -->
                                        <select id="caregiver-patient-status" name="caregiver-patient-status"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                            required>
                                
                                            <!-- PART 2 OF 2 FORM VALIDATION DEFAULT "VALUE EMPTY STRING"  -->
                                            <option value="" selected>Choose Warrior Type</option>
                                            <option value="Currently In Treatment">Currently In Treatment</option>
                                            <option value="Survivor">Survivor</option>
                                        </select>
                                
                                    </div>
                                </div>

                                <div class=" mt-4 grid grid-cols-2 gap-4">
                                
                                    <div>
                                        <label for="relationship-type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> Relationship To Warrior</label>
                                
                                        <!-- PART 1 OF 2 FORM VALIDATION DEFAULT  "REQUIRED" ATTRIBUTE -->
                                        <select id="relationship-type" name="relationship-type"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                            required>
                                
                                            <!-- PART 2 OF 2 FORM VALIDATION DEFAULT "VALUE EMPTY STRING"  -->
                                            <option value="" selected>Choose Relationship Type</option>
                                            <option value="Spouse/Partner">Spouse/Partner</option>
                                            <option value="Parent">Parent</option>
                                            <option value="Sibling">Sibling</option>
                                            <option value="Child">Child</option>
                                            <option value="Grandparent">Grandparent</option>
                                            <option value="Friend">Friend</option>
                                            <option value="Healthcare Professional">Healthcare Professional</option>
                                        </select>
                                
                                    </div>
                                </div>
                            </div>


                            <!-- WARRIOR SURVIVOR/PATIENT CANCER TYPE AND PREFERRED LANG FOR SITE  -->
                            <div class="grid grid-cols-2 gap-4">
                                <!-- LIST OF CANCER TYPES TO SELECT -->
                                <div>
                                    <label for="cancer-type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> 
                                        Cancer Type
                                    </label>
                                
                                    <!-- PART 1 OF 2 FORM VALIDATION DEFAULT  "REQUIRED" ATTRIBUTE -->
                                    <select id="cancer-type" name="cancer-type"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        required>
                                
                                        <!-- PART 2 OF 2 FORM VALIDATION DEFAULT "VALUE EMPTY STRING"  -->
                                        <option value="" selected>Choose Cancer Type</option>
                                        <option value="Breast">Breast Cancer</option>
                                        <option value="Lung">Lung Cancer</option>
                                        <option value="Colon">Colon/Rectal Cancer</option>
                                        <option value="Prostate">Prostate Cancer</option>
                                        <option value="Ovarian">Ovarian Cancer</option>
                                        <option value="Pancreatic">Pancreatic Cancer</option>
                                        <option value="Skin">Skin Cancer</option>
                                        <option value="Leukemia">Leukemia</option>
                                        <option value="Lymphoma">Lymphoma</option>
                                        <option value="Bladder">Bladder Cancer</option>
                                        <option value="Liver">Liver Cancer</option>
                                        <option value="Kidney">Kidney Cancer</option>
                                        <option value="Stomach">Stomach Cancer</option>
                                        <option value="Esophageal">Esophageal Cancer</option>
                                        <option value="Cervical">Cervical Cancer</option>
                                        <option value="Thyroid">Thyroid Cancer</option>
                                        <option value="Brain">Brain Cancer</option>
                                        <option value="Bone">Bone Cancer</option>
                                    </select>
                                
                                </div>

                                <!-- PREFERRED LANG FOR SITE -->
                                <div>
                                    <label for="lang-type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> 
                                        Preferred Language
                                    </label>
                                
                                    <!-- PART 1 OF 2 FORM VALIDATION DEFAULT  "REQUIRED" ATTRIBUTE -->
                                    <select id="lang-type" name="lang-type"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        required>
                                
                                        <!-- PART 2 OF 2 FORM VALIDATION DEFAULT "VALUE EMPTY STRING"  -->
                                        <option value="" selected> Choose Language </option>
                                        <option value="English">English</option>
                                        <option value="Spanish">Spanish</option>
                                    </select>
                                
                                </div>


                            </div>


                            <div class="flex items-start">
                                <div class="flex items-center h-5">
                                    <input id="terms" aria-describedby="terms" type="checkbox"
                                        class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800"
                                        required="">
                                </div>
                                <div class="ml-3 text-sm">
                                    <label for="terms" class="font-light text-gray-500 dark:text-gray-300">I accept the <a
                                            class="font-medium text-primary-600 hover:underline dark:text-primary-500"
                                            href="#">Terms and Conditions</a></label>
                                </div>
                            </div>


                            <button type="submit" class="text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Sign Up
                            </button>
                            <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                                Already have an account? <a href="#"
                                    class="font-medium text-primary-600 hover:underline dark:text-primary-500">Login here</a>
                            </p>

                        </form>

                    </div>
                </div>
            </div>
        </section>








        </div>

        <!-- Tailwind Styling  -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.js"></script>
    </body>
</html>
